<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body class="category-page">
    <header><%- include('partials/nav.ejs') %></header>
    <main>
      <h1>Furniture Categories</h1>
      <% if (updated) { %>
      <div><%= updated %></div>
      <% } %>
      <div class="categories">
        <div class="collections">
          <h3>Collections</h3>
          <% collections.map((item) => { %>
          <form
            name="collections"
            method="POST"
            action="/categories/collection/<%= item.collection_id %>"
          >
            <input
              type="text"
              name="collection"
              value="<%= item.collection_name %>"
            />
            <button
              type="submit"
              name="action"
              value="update"
              class="btn-update"
            >
              Update
            </button>
            <button
              type="submit"
              name="action"
              value="delete"
              class="btn-delete"
            >
              Delete
            </button>
          </form>
          <% }) %>
          <button id="collection-open">Add New Collection</button>
        </div>
        <div class="woods">
          <h3>Wood</h3>
          <% wood.map((item) => { %>
          <form
            name="woods"
            method="POST"
            action="/categories/wood/<%= item.wood_id %>"
          >
            <input type="text" name="wood" value="<%= item.wood_name %>" />
            <button
              type="submit"
              name="action"
              value="update"
              class="btn-update"
            >
              Update
            </button>
            <button
              type="submit"
              name="action"
              value="delete"
              class="btn-delete"
            >
              Delete
            </button>
          </form>
          <% }) %>
          <button id="wood-open">Add New Wood</button>
        </div>
        <div class="ftypes">
          <h3>Furniture Types</h3>
          <% ftypes.map((item) => { %>
          <form
            name="ftype"
            method="POST"
            action="/categories/ftype/<%= item.ftype_id %>"
          >
            <input type="text" name="ftype" value="<%= item.ftype_name %>" />
            <button
              type="submit"
              name="action"
              value="update"
              class="btn-update"
            >
              Update
            </button>
            <button
              type="submit"
              name="action"
              value="delete"
              class="btn-delete"
            >
              Delete
            </button>
          </form>
          <% }) %>
          <button id="ftype-open">Add New Furniture Type</button>
        </div>
        <div class="rooms">
          <h3>Rooms</h3>
          <% rooms.map((item) => { %>
          <form
            name="rooms"
            method="POST"
            action="/categories/room/<%= item.room_id %>"
          >
            <input type="text" name="room" value="<%= item.room_name %>" />
            <button
              type="submit"
              name="action"
              value="update"
              class="btn-update"
            >
              Update
            </button>
            <button
              type="submit"
              name="action"
              value="delete"
              class="btn-delete"
            >
              Delete
            </button>
          </form>
          <% }) %>
          <button id="room-open">Add New Room</button>
        </div>
      </div>
      <dialog id="collection-modal">
        <a href="#" id="collection-close">Close</a>
        <form
          name="new-collection"
          method="POST"
          action="/categories/new/collection"
        >
          <h2>Add a Collection</h2>
          <label for="new-collection"
            >Name
            <input type="text" name="collection" id="new-collection" />
          </label>
          <button type="submit">Submit</button>
        </form>
      </dialog>
      <dialog id="wood-modal">
        <a href="#" id="wood-close">Close</a>
        <form name="new-wood" method="POST" action="/categories/new/wood">
          <h2>Add a Wood Species</h2>
          <label for="new-wood"
            >Name
            <input type="text" name="wood" id="new-wood" />
          </label>
          <button type="submit">Submit</button>
        </form>
      </dialog>
      <dialog id="ftype-modal">
        <a href="#" id="ftype-close">Close</a>
        <form name="new-ftype" method="POST" action="/categories/new/ftype">
          <h2>Add a Furniture Type</h2>
          <label for="new-ftype"
            >Name
            <input type="text" name="ftype" id="new-ftype" />
          </label>
          <button type="submit">Submit</button>
        </form>
      </dialog>
      <dialog id="room-modal">
        <a href="#" id="room-close">Close</a>
        <form name="new-room" method="POST" action="/categories/new/room">
          <h2>Add a Room</h2>
          <label for="new-room"
            >Name
            <input type="text" name="room" id="new-room" />
          </label>
          <button type="submit">Submit</button>
        </form>
      </dialog>
    </main>
    <script src="/categories.js"></script>
  </body>
</html>
