<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <tr>
        <th>Quantity</th>
        <th>Product Name</th>
        <th>SKU</th>
        <th>Wood Type</th>
        <th>Furniture Type</th>
        <th>Collection</th>
        <th>Room</th>
      </tr>
      <% inventory.map((item) => { %>
      <tr>
        <td><%= item.finv_quantity %></td>
        <td><%= item.furn_name %></td>
        <td><%= item.finv_sku %></td>
        <td><%= item.wood_name %></td>
        <td><%= item.ftype_name %></td>
        <td><%= item.collection_name %></td>
        <td><%= item.room_name %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
