<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />

    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="categories">
      <form name="collections">
        Collection
        <input type="radio" name="collection" value="0" checked />All <%
        collections.map((item) => { %>
        <input
          type="radio"
          name="collection"
          value="<%= item.collection_name %>"
        /><%= item.collection_name %> <% }) %>
      </form>
      <form name="woods">
        Wood
        <input type="radio" name="wood" value="0" checked />All
        <input type="radio" name="wood" value="Birch" />Birch
        <input type="radio" name="wood" value="Cherry" />Cherry
        <input type="radio" name="wood" value="Oak" />Oak
        <input type="radio" name="wood" value="Walnut" />Walnut
      </form>
      <form name="ftypes">
        Furniture type
        <input type="radio" name="ftype" value="0" checked />All
        <input type="radio" name="ftype" value="Bed" />Bed
        <input type="radio" name="ftype" value="Bench" />Bench
        <input type="radio" name="ftype" value="Chair" />Chair
        <input type="radio" name="ftype" value="Deckchair" />Deckchair
        <input type="radio" name="ftype" value="End%Table" />End Table
        <input type="radio" name="ftype" value="Headboard" />Headboard
        <input type="radio" name="ftype" value="Hutch" />Hutch
        <input type="radio" name="ftype" value="Kitchen%20Table" />Kitchen Table
        <input type="radio" name="ftype" value="Side%20Table" />Side Table
      </form>
      <form name="rooms">
        Rooms
        <input type="radio" name="room" value="0" checked />All
        <input type="radio" name="room" value="Bedroom" />Bedroom
        <input type="radio" name="room" value="Dining%20Room" />Dining Room
        <input type="radio" name="room" value="Family%20Room" />Family Room
        <input type="radio" name="room" value="Outdoor" />Outdoor
      </form>
      <!-- TODO change this to be a form submit instead of a function -->
      <button type="submit" onclick="submitCategorySearch()">Filter</button>
    </div>
    <table>
      <tr>
        <th>Quantity</th>
        <th>Product Name</th>
        <th>Wood Type</th>
        <th>SKU</th>
        <th>Furniture Type</th>
        <th>Collection</th>
        <th>Room</th>
      </tr>
      <% inventory.map((item) => { %>
      <tr id="<%= item.finv_id %>">
        <td><%= item.finv_quantity %></td>
        <td><%= item.furn_name %></td>
        <td><%= item.wood_name %></td>
        <td><%= item.finv_sku %></td>
        <td><%= item.ftype_name %></td>
        <td><%= item.collection_name %></td>
        <td><%= item.room_name %></td>
        <td>
          <a href="/product/<%= item.finv_id %>">Edit</a>
        </td>
      </tr>
      <% }) %>
    </table>
    <script src="../index.js"></script>
  </body>
</html>
