<!-- views/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body class="new-page">
    <header class="white-background"><%- include('partials/nav.ejs') %></header>
    <h1 id="new-head">Create a new furniture item.</h1>
    <div class="new-container">
      <form id="new-product" action="/new" method="POST">
        <div>
          <label for="name"><strong>Name:</strong></label>
          <input
            required
            type="text"
            name="name"
            id="name"
            placeholder="Enter furniture name"
          />
        </div>
        <div>
          <label for="description"><strong>Description:</strong></label>
          <textarea
            required
            type="text"
            name="description"
            id="description"
            placeholder="Describe the new furniture."
          ></textarea>
        </div>
        <div class="new-card-bottom">
          <div>
            <label for="ftype"><strong>Furniture Type:</strong></label>
            <select id="ftype" name="ftype" required>
              <option disabled selected value>-- select an option --</option>
              <% ftypes.map((item) => { %>
              <option value="<%= item.ftype_id %>">
                <%= item.ftype_name %>
              </option>
              <% }) %>
            </select>
          </div>
          <div>
            <label for="collection"><strong>Collection:</strong></label>
            <select id="collection" name="collection" required>
              <option disabled selected value>-- select an option --</option>
              <% collections.map((item) => { %>
              <option value="<%= item.collection_id %>">
                <%= item.collection_name %>
              </option>
              <% }) %>
            </select>
          </div>
          <div id="new-woods">
            <div>
              <p id="wood-validation"></p>
              <fieldset>
                <legend><strong>Wood</strong></legend>
                <% wood.map(item => { %>
                <label>
                  <input
                    type="checkbox"
                    name="woodIds[]"
                    class="wood-input"
                    data-wood-id="<%= item.wood_id %>"
                    value="<%= item.wood_id %>"
                  />
                  <%= item.wood_name %>
                </label>
                <% }) %>
              </fieldset>
            </div>
            <div class="quantity qty-grid">
              <p id="qty-validation"></p>
              <label for="quantity" id="qty-label"
                ><strong>Quantity:</strong></label
              >
              <% wood.map(item => { %>
              <div class="qty-group">
                <label><%= item.wood_name %></label>
                <input
                  disabled
                  type="number"
                  name="quantityCnt[]"
                  class="qty-input"
                  data-wood-id="<%= item.wood_id %>"
                />
              </div>

              <% }) %>
            </div>
          </div>

          <div class="update-rooms">
            <p id="rooms-validation"></p>
            <fieldset>
              <legend><strong>Rooms</strong></legend>
              <% rooms.map(item => { %>
              <label>
                <input
                  type="checkbox"
                  name="roomIds[]"
                  value="<%= item.room_id %>"
                />
                <%= item.room_name %>
              </label>
              <% }) %>
            </fieldset>
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    <script src="/new.js"></script>
  </body>
</html>
