<!-- views/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New</title>
  </head>
  <body>
    <div>Create a new furniture item here.</div>
    <p>Collections</p>
    <ul>
      <% collections.map((item) => { %>
      <li data-id="<%= item.collection_id %>"><%= item.collection_name %></li>
      <% }) %>
    </ul>
    <p>Wood</p>
    <ul>
      <% wood.map((item) => { %>
      <li data-id="<%= item.wood_id %>"><%= item.wood_name %></li>
      <% }) %>
    </ul>
    <p>Furniture Types</p>
    <ul>
      <% ftypes.map((item) => { %>
      <li data-id="<%= item.ftype_id %>"><%= item.ftype_name %></li>
      <% }) %>
    </ul>
    <p>Rooms</p>
    <ul>
      <% rooms.map((item) => { %>
      <li data-id="<%= item.room_id %>"><%= item.room_name %></li>
      <% }) %>
    </ul>
  </body>
</html>
