<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <header><%- include('partials/nav.ejs') %></header>
  <body>
    <% if (alert) { %>
    <div><%= alert %></div>
    <% } %>
    <div>
      <h2>Product Page</h2>
      <p>Product name: <%= inventory.furn_name %></p>
      <p>Description: <%= inventory.furn_description %></p>
      <p>Wood: <%= inventory.wood_name %></p>
      <p>Furniture Type: <%= inventory.ftype_name %></p>
      <p>Room: <%= inventory.room_name %></p>
      <p>Collection: <%= inventory.collection_name %></p>
      <p>SKU: <%= inventory.finv_sku %></p>
      <p>Quantity: <%= inventory.finv_quantity %></p>
    </div>
    <div>
      <a href="/update/<%= inventory.finv_id %>">Edit</a>
      <form
        method="POST"
        action="/delete/<%= inventory.furn_id %>?_method=DELETE"
      >
        <button type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
