<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body class="product-page">
    <header class="product-header white-text">
      <%- include('partials/nav.ejs') %>
    </header>
    <main>
      <div class="prod-container">
        <% if (alert) { %>
        <div><%= alert %></div>
        <% } %>
        <div>
          <h1><%= inventory.furn_name %></h1>
          <h2 id="coll-name" data-collection="<%= inventory.collection_name %>">
            Part of the <%= inventory.collection_name %>
          </h2>
          <div class="desc">
            <p><%= inventory.furn_description %></p>
          </div>
          <div class="card-bottom">
            <div>
              <p><strong>Wood:</strong> <%= inventory.wood_name %></p>
              <p><strong>Furniture Type:</strong> <%= inventory.types %></p>
              <p><strong>Rooms:</strong> <%= inventory.rooms %></p>
            </div>
            <div>
              <p><strong>Quantity:</strong> <%= inventory.finv_quantity %></p>
              <p><strong>SKU:</strong> <%= inventory.finv_sku %></p>
            </div>
          </div>
        </div>
        <div class="prod-buttons">
          <a href="/update/<%= inventory.finv_id %>">Edit</a>
          <form
            method="POST"
            action="/delete/prod/<%= inventory.finv_id %>?_method=DELETE"
          >
            <button class="link-button danger" type="submit">
              Delete SKU <%= inventory.finv_sku %>
            </button>
          </form>
          <form
            method="POST"
            action="/delete/<%= inventory.furn_id %>?_method=DELETE"
          >
            <button class="link-button danger" type="submit">
              Delete ALL <%= inventory.furn_name %>s
            </button>
          </form>
        </div>
      </div>
    </main>
    <script src="/product.js"></script>
  </body>
</html>
