<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (alert) { %>
    <div><%= alert %></div>
    <% } %>
    <form method="POST" action="/product/<%= inventory.finv_id %>">
      <p>Product name: <%= inventory.furn_name %></p>
      <input
        type="number"
        name="quantity"
        min="0"
        value="<%= inventory.finv_quantity %>"
      />
      <button type="submit">Update</button>
    </form>
    <div>
      <a href="/">Home</a>
    </div>
    <div>
      <a href="/delete/<%= inventory.furn_id %>">Delete</a>
    </div>
  </body>
</html>
