<!-- views/updateProduct.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/product/<%= inventory.finv_id %>">
      <label for="name">Product name:</label>
      <input type="text" value="<%= inventory.furn_name %>" />
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        name="quantity"
        min="0"
        value="<%= inventory.finv_quantity %>"
      />
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        name="quantity"
        min="0"
        value="<%= inventory.finv_quantity %>"
      />
      <label for="wood">Wood:</label>
      <select id="wood" name="wood">
        <option disabled selected value>-- select an option --</option>
        <% wood.map((item) => { %>
        <option value="<%= item.wood_id %>"><%= item.wood_name %></option>
        <% }) %>
      </select>
      <label for="ftype">Furniture Type:</label>
      <select id="ftype" name="ftype">
        <option disabled selected value>-- select an option --</option>
        <% ftypes.map((item) => { %>
        <option value="<%= item.ftype_id %>"><%= item.ftype_name %></option>
        <% }) %>
      </select>
      <label for="room">Room:</label>
      <select id="room" name="room">
        <option disabled selected value>-- select an option --</option>
        <% rooms.map((item) => { %>
        <option value="<%= item.room_id %>"><%= item.room_name %></option>
        <% }) %>
      </select>
      <label for="collection">Collection:</label>
      <select id="collection" name="collection">
        <option disabled selected value>-- select an option --</option>
        <% collections.map((item) => { %>
        <option value="<%= item.collection_id %>">
          <%= item.collection_name %>
        </option>
        <% }) %>
      </select>
      <button type="submit">Update</button>
    </form>
  </body>
</html>
